.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.status-radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.status-label {
  font-weight: 600;
  font-size: 15px;
}

.mat-dialog-actions {
  padding-top: 16px;
}

textarea {
  resize: none;
}
