<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Inspectors</h4>
                        <p class="card-category">Inspectors</p>
                    </div>
                    <div class="card-body">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let entity of inspectorList">
                                    <tr>
                                        <td>{{entity.id}}</td>
                                        <td>{{entity.fullName}}</td>
                                        <td>{{entity.email}}</td>
                                        <td>{{entity.phone}}</td>
                                        <td>{{entity.role}}</td>
                                        <td>
                                           
                                            <button mat-icon-button (click)="addinspectVisit(entity.id)" >
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
